# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDE
.idea/
*.swp
*.swo

# Testing
.pytest_cache/
htmlcov/
.coverage

# Docker
*.log

# LaTeX
presentacion/*.aux
presentacion/*.log
presentacion/*.nav
presentacion/*.out
presentacion/*.snm
presentacion/*.toc
presentacion/*.vrb
presentacion/*.synctex.gz
presentacion/*.fls
presentacion/*.fdb_latexmk
